*{
    font-family: Poppins;
    
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .search-input {
    font-family: Poppins;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    width: 700px;
    height: 50px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    margin-right: -4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .search-input:focus {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  }
  
  .search-button {
    font-family: Poppins;
    height: 50px;
    background-color: #2b2b2b;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 40px;
    transition: background-color 0.3s ease-in-out;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .search-button:hover {
    background-color: lemonchiffon;
    color: #2b2b2b;
  }
  
  .fa-search {
    margin-right: 5px;
  }
  .text1{
    font-family: Poppins;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 48px;
    
  }
  .search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .txt2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 60%;
  }
  